<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459040096996-4vfj79qbk5hstasele592r6on9aqb6c6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459040096996-4vfj79qbk5hstasele592r6on9aqb6c6</string>
	<key>API_KEY</key>
	<string>AIzaSyAUpcGfDKPHSXxjwArp0OH-_H7Y5aGtLHo</string>
	<key>GCM_SENDER_ID</key>
	<string>459040096996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartcity</string>
	<key>PROJECT_ID</key>
	<string>smartcity-91034</string>
	<key>STORAGE_BUCKET</key>
	<string>smartcity-91034.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459040096996:ios:abfd6f2f334115c1da62f1</string>
</dict>
</plist>